.detail-box{
box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
margin-bottom: 30px;
padding-bottom: 30px;
display: flex;
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
}
#box1{
    margin-top: 50px;
}
.head4{
    padding-bottom: 10px;
    text-align: center;
}
.img-responsive{
border-radius: 50%;
background-size: cover;
width: 150px;
height: 150px;
background-position: center;
}
.facultyImgLeft{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.faculty-name{
    font-weight: 500;
    padding-top: 20px;
}
.designation{
    font-weight: 400;
}